<div class="tab data" data-group="primary" data-tab="data">
    <b>{{localize 'GB.TYPE'}}</b>: {{actor.type}}
    <hr>
    {{#each actor.system.traits as |trait key|}}
        <div>
            <b>{{localize trait.label}}</b>
            <div class="grid-data-traits">
                <label for="actor.system.traits.{{key}}.active">{{localize 'GB.ACTIVE'}}</label>
                <input type="checkbox" name="system.traits.{{key}}.active" id="actor.system.traits.{{key}}.active"
                       data-dtype="Boolean" {{checked trait.active}}>
            </div>
        </div>
    {{/each}}
</div>