<form>
    <div>
        <p><b>{{ localize 'GB.ROLLING'}} {{label}}:  {{roll}}</b></p>
        {{#if (eq actor.system.type 'character') }}
            <div class="flexrow flex-group-left usebrowniepoints">
                <div data-browniepoints="{{brownie_points}}">{{ localize 'GB.USE_BROWNIE_POINTS'}}</div>
                <div class="flexrow flex-group-center">
                    <div class="boxed" style="color:{{ bpcostcolor }};">{{brownie_points}}</div>
                    <div class="flex-group-center bpup">
                        <i class="fas fa-plus-square"></i>
                    </div>
                    <div class="flex-group-center bpdown">
                        <i class="fas fa-minus-square"></i>
                    </div>
                </div>
            </div>
            </div>
        {{/if}}
        <div class="flexrow flex-group-left bonus" data-bonus="bonus">
            <label for="bonus" class="resource-label">{{localize 'GB.BONUS'}}:</label>
            <input type="text" id="bonus" name="bonus" value="{{bonus}}" onfocus="this.value=''"
                   data-type="Number"/>
        </div>
        <div class="flexrow flex-group-left penalty" data-penalty="penalty">
            <label for="penalty" class="resource-label">{{localize 'GB.PENALTY'}}:</label>
            <input type="text" id="penalty" name="penalty" value="{{penalty}}" onfocus="this.value=''"
                   data-type="Number"/>
        </div>
    </div>
</form>