<form>
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" alt="{{item.name}}"/>
        <div class="header-fields">
            <label for="name"></label>
            <h1 class="charname"><input name="name" id="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="grid grid-2col">
                <div class="resource">
                    <label for="system.quantity" class="resource-label">{{localize 'GB.QUANTITY'}}</label>
                    <input type="text" name="system.quantity" id="system.quantity" value="{{item.system.quantity}}" system-dtype="Number"/>
                </div>
                <div class="resource">
                    <label for="system.location" class="resource-label">{{localize 'GB.LOCATION'}}</label>
                    <input type="text" name="system.location" id="system.location" value="{{item.system.location}}" system-dtype="String"/>
                </div>
                <div class="resource">
                    <label for="system.hands" class="resource-label">{{localize 'GB.HANDS'}}</label>
                    <input type="text" name="system.hands" id="system.hands" value="{{item.system.hands}}" system-dtype="Number"/>
                </div>
                <div class="resource">
                    <label for="system.muscle" class="resource-label">{{localize 'GB.MUSCLE'}}</label>
                    <input type="text" name="system.muscle" id="system.muscle" value="{{item.system.muscle}}" system-dtype="Number"/>
                </div>
            </div>
        </div>
    </header>
    <div class="sheet-body">
        <style class="text/css">
            .editor .editor-content {
                min-height: 250px;
            }
        </style>
    <label for="system.description.value" class="resource-label">{{localize 'GB.DESCRIPTION'}}:</label>
        {{editor item.system.description.value name=system.description.value target="system.description.value"
             button=true owner=owner editable=true}}
    </div>
</form>
