.item-form {
  font-family: $font-primary;
}

.nav-header-fields {
  flex: 1;
  height: 20px;
}

.sheet-header {
  flex: 0 0 210px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;

  .profile-img {
    flex: 0 0 100px;
    height: 100px;
    margin-right: 10px;
  }

  .header-fields {
    flex: 1;
  }

  h1.charname {
    height: 50px;
    padding: 0px;
    margin: 5px 0;
    border-bottom: 0;
    input {
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }
}

.sheet-tabs {
  flex: 0;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab {
  height: 100%;
}

.tox {
  .tox-editor-container {
    background: $c-white;
    min-height: 200px;
  }

  .tox-edit-area {
    padding: 0 8px;
    min-height: 400px;
  }
}

#grid-medical select {
  width:auto;
}

.small-font {
  font-size: 75%;
}
