.resource-label {
  font-weight: bold;
  text-transform: uppercase;
}

* .editor,
* .editor-content {
  flex: 1;
  min-height: 30px;
}

* .tox-tinymce,
* .tox-editor-container,
* .tox-sidebar-wrap,
* .tox-edit-area {
  min-height: 170px;
  height: 100% !important;
}
